[include]
	path = .gitconfig.user
[color]
	ui = true
[push]
	default = simple
[pull]
	ff = only
[init]
	defaultBranch = main
[core]
	editor = nvim
	autocrlf = false
	quotepath = false
	excludesfile = ~/.gitignore_global
[user]
  signingkey = A850F1A1869AB16E
[commit]
  gpgsign = false
[ghq]
	root = ~/src
[alias]
    st  = status
    co  = checkout

